input {
  all: unset;
  min-width: 70px;
  padding: 8px;
  display: flex;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem !important;
  font-weight: 600;
}

textarea {
  display: flex;
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 600;
}

textarea:active,
textarea:focus {
  outline: 1px #f27000 solid !important;
}

select {
  height: 38px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem !important;
  color: #000;
  font-weight: 600;
}

select option {
  font-size: 1.2rem;
}

.btn__cadastrar {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: #fff !important;
  width: 18rem;
  padding: 0 10px;
  height: 44px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  background-color: #fa5700 !important;
}

.dialog-title {
  width: 100%;
  padding-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 2.3rem;
  margin: 20px 0 25px 0;
  text-align: center;
  color: #fa5700 !important;
  text-transform: uppercase;
  border-bottom: 1px solid #fa5700;
}

.btn__cadastrar:hover {
  transform: scale(1.08);
  opacity: 0.8;
}

.top__actions {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.form-box {
  min-width: 100%;
  padding: 15px;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
}

.form-box-row {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: #f7dfad;
  border: 1px solid #fa5700;
  border-radius: 8px;
}

.form-box-group {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.form-box-group-2 {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.form-box-group label {
  width: 100%;
  background-color: #f27000;
  padding: 5px;
  color: #f3f3f3;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 4px;
}

.form-textarea-control {
  width: 100%;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
}
