/* show-contract */
.show-contract {
  width: 620px;
  height: 420px;
  overflow-y: scroll;
  padding: 20px 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  background-color: hsl(30, 85%, 95%);
  border-radius: 10px;
}

.fields-row {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field-control {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.field-person {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.field-label {
  width: 100%;
  margin-left: 5px;
  font-size: 1.2rem !important;
  color: hsla(21, 100%, 49%, 1);
  border-radius: 5px;
}

.fields {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 15px;
  border-bottom: 1px solid hsl(27, 86%, 72%);
  border-radius: 8px;
}

.field-date {
  text-align: center;
}

.field-valor {
  text-align: right;
}
