.MuiTreeItem-label {
  color: rgb(255, 255, 255);
  font-size: 1.4rem !important;
  cursor: pointer;
}

.MuiDrawer-paper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 275px;
}
