p {
  font-size: 1.3rem !important;
}
p.MuiTablePagination-displayedRows,
p.MuiTablePagination-selectLabel {
  font-size: 1.3rem !important;
  font-weight: 600;
}
.MuiInputBase-root {
  font-size: 1.3rem !important;
  font-weight: 600;
}
.MuiSvgIcon-root1 {
  font-size: 1.4rem !important;
}
input,
select {
  all: unset;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn__cadastrar {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: #fff !important;
  width: 18rem;
  padding: 0 10px;
  height: 44px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  background-color: #fa5700 !important;
}

.dialog-title {
  width: 100%;
  padding-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 2.3rem;
  margin: 20px 0 25px 0;
  text-align: center;
  color: #fa5700 !important;
  text-transform: uppercase;
  border-bottom: 1px solid #fa5700;
}

.btn__cadastrar:hover {
  transform: scale(1.08);
  opacity: 0.8;
}

.top__actions {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.form-box {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}

.form-box-control {
  width: 48%;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
}

.form-textarea-control {
  width: 100%;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
}
