.container__home {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}
.main__content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 79px;
	border: 1px solid #000;
}
.cards__home {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-width: 100%;
}
.card__icon:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.number__contract {
	font-size: 2rem;
}
